<h1><%= @user.name %>'s Posts</h1>
<table>
	<% @posts.each do |post| %>
	<tr>
		<td><%= link_to("#{post.title}", post) %></td>
		<% if @user == current_user %>
			<td><%= link_to("Edit", "/posts/#{post.id}/edit") %></td>
			<td><%= link_to("Delete", post, method: :delete) %></td>
		<% end %>
	</tr>
	<% end %>
</table>
<h3>Posts on which <%= @user.name %> has commented:</h3>
<ul>
	<% @user.commented_posts.each do |post| %>
	<li><%= link_to("#{post.title}", post) %></li>
	<% end %>
</ul>